.RegisetrBtn{
  --background:#06A881;
}

.signIn-link{
  text-decoration: none;
  color: #06A881;
  font-size: 14px;
  font-weight: 400;
}
.btn-login{
  --background:#06A881;
}
* {
  font-family: 'Lato-Light' !important;
  letter-spacing: normal;
}
