.Consult-txt{
  color: #06A881;
  font-size: 24px ;
}
.nxtBtn{
  --background:#06A881;
  display: flex;
  font-weight: 500;
  text-transform: none;
}

* {
  font-family: 'Lato-Light' !important;
  letter-spacing: normal;
}
